<indicators>
   <indicator>
	  <type>RoundLED</type>
	  <portType>in</portType>
	  <portNum> 0 </portNum> 
	  <bitNum> 0 </bitNum> 
	  <title>RoundLED</title> 
      <positionX> 200 </positionX> 
	  <positionY> 10 </positionY> 
	  <colorTrue> FFFFFF </colorTrue>
	  <colorFalse> 000000 </colorFalse>
   </indicator>
   <indicator>
	  <type>Horizontal Slide</type>
	  <portType>out</portType> 
	  <portNum> 0 1 2 3</portNum> 
	  <title>Horizontal Slide</title>
      <positionX> 200 </positionX> 
	  <positionY> 50 </positionY> 
	  <minRange>10</minRange>
	  <difRange>110</difRange>
   </indicator>
   <indicator>
	  <type>Meter</type>
	  <portType>out</portType> 
	  <portNum> 0 1 2 3 </portNum> 
	  <title>Meter</title>
      <positionX> 202 </positionX> 
	  <positionY> 110 </positionY> 
	  <minRange>0</minRange>
	  <difRange>20</difRange>
   </indicator>
   <indicator>
	  <type>Numeric</type>
	  <portType>out</portType> 
	  <portNum> 0 1 2 3 </portNum> 
	  <title>Numeric</title>
      <positionX> 190 </positionX> 
	  <positionY> 220 </positionY> 
	  <wigth>50</wigth>
   </indicator>
   <indicator>
	  <type>SquareLED</type>
	  <portType>in</portType> 
	  <portNum> 0 </portNum> 
	  <bitNum>1</bitNum>
	  <title>SquareLED</title>
      <positionX> 290 </positionX> 
	  <positionY> 10 </positionY> 
	  <colorTrue> FFFFFF </colorTrue>
	  <colorFalse> 000000 </colorFalse>
   </indicator>
</indicators>