<indicators>
   <indicator>
	  <type>RoundLED</type>
	  <portType>in</portType>
	  <portNum> 0 </portNum> 
	  <bitNum> 0 </bitNum> 
	  <title> in0</title> 
      <positionX> 200 </positionX> 
	  <positionY> 10 </positionY> 
	  <colorTrue> FFFFFF </colorTrue>
	  <colorFalse> 000000 </colorFalse>
   </indicator>
   <indicator>
	  <type>Horizontal Slide</type>
	  <portType>out</portType> 
	  <portNum> 1 </portNum> 
	  <title>out1</title>
      <positionX> 200 </positionX> 
	  <positionY> 50 </positionY> 
	  <minRange>10</minRange>
	  <difRange>110</difRange>
   </indicator>
   <indicator>
	  <type>Meter</type>
	  <portType>out</portType> 
	  <portNum> 0 </portNum> 
	  <title>out0</title>
      <positionX> 202 </positionX> 
	  <positionY> 110 </positionY> 
	  <minRange>0</minRange>
	  <difRange>20</difRange>
   </indicator>
   <indicator>
	  <type>Numeric</type>
	  <portType>out</portType> 
	  <portNum> 2 </portNum> 
	  <title>out2</title>
      <positionX> 190 </positionX> 
	  <positionY> 220 </positionY> 
   </indicator>
   <indicator>
	  <type>SquareLED</type>
	  <portType>in</portType> 
	  <portNum> 0 </portNum> 
	  <bitNum>1</bitNum>
	  <title> in2</title>
      <positionX> 225 </positionX> 
	  <positionY> 10 </positionY> 
	  <colorTrue> FFFFFF </colorTrue>
	  <colorFalse> 000000 </colorFalse>
   </indicator>
</indicators>