<indicators>
   <indicator>
      <positionX> 250 </positionX> 
	  <positionY> 120 </positionY> 
	  <type>RoundLED</type>
	  <portType>in</portType> 
	  <portNum> 1 </portNum> 
	  <title> out[0] </title>
	  <colorTrue> FFFFFF </colorTrue>
	  <colorFalse> 000000 </colorFalse>
	  <minRange>10</minRange>
	  <difRange>20</difRange>
	  <bitNum>0</bitNum>
   </indicator>
   <indicator>
      <positionX> 250 </positionX> 
	  <positionY> 220 </positionY> 
	  <type>Vertical Slide</type>
	  <portType>in</portType> 
	  <portNum> 1 </portNum> 
	  <title> in[1] </title>
	  <minRange>-20</minRange>
	  <difRange>120</difRange>
	  <colorTrue> 0 </colorTrue>
	  <colorFalse> 300000 </colorFalse>
	  <bitNum>1</bitNum>
   </indicator>
   <indicator>
      <positionX> 10 </positionX> 
	  <positionY> 320 </positionY> 
	  <type>Horizontal Slide</type>
	  <portType>out</portType> 
	  <minRange>10</minRange>
	  <difRange>7</difRange>
	  <portNum> 0 </portNum> 
	  <title> in[0] </title>
	  <colorTrue> 200000 </colorTrue>
	  <colorFalse> 2000000 </colorFalse>
	  <bitNum>2</bitNum>
   </indicator>
</indicators>